aniso8601==7.0.0
api-display-purposes==0.0.3
APScheduler==3.6.3
arabic-reshaper==3.0.0
asgiref==3.5.2
asn1crypto==1.5.1
async-generator==1.10
attrs==22.1.0
autopep8==2.0.0
beautifulsoup4==4.11.1
bootstrap4==0.1.0
cachetools==4.2.2
certifi==2022.9.24
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.1
clarifai==2.6.2
click==8.1.3
colorama==0.4.6
config==0.5.1
configparser==3.8.1
cryptography==38.0.4
cssselect2==0.7.0
defusedxml==0.7.1
distlib==0.3.6
dj-database-url==0.5.0
dj-static==0.0.6
Django==4.1.7
django-bootstrap==0.2.4
django-bootstrap3==10.0.1
django-crispy-forms==1.14.0
django-environ==0.4.5
django-forms-bootstrap==3.1.0
django-heroku==0.3.1
django-widget-tweaks==1.4.8
djangorestframework==3.14.0
EasyProcess==1.1
emoji==2.2.0
environ==1.0
filelock==3.9.0
Flask==2.2.2
future==0.18.2
googleapis-common-protos==1.57.0
graphene==3.2.1
graphene-django==3.0.0
graphene-file-upload==1.3.0
graphql-core==3.2.3
graphql-relay==3.2.0
grpcio==1.50.0
gunicorn==19.9.0
h11==0.14.0
html5lib==1.1
httpie==3.2.1
idna==2.10
instapy==0.6.16
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==2.6.0
lxml==4.9.2
markdown-it-py==2.2.0
MarkupSafe==2.1.1
mdurl==0.1.2
MeaningCloud-python==2.0.0
multidict==6.0.4
multipledispatch==0.6.0
mysql-connector==2.2.9
mysqlclient==2.1.1
numpy==1.24.2
oscrypto==1.3.0
outcome==1.2.0
pandas==1.5.3
Pillow==9.4.0
platformdirs==2.6.2
plyer==2.0.0
promise==2.3
protobuf==3.20.1
psycopg2==2.9.5
pycodestyle==2.10.0
pycparser==2.21
Pygments==2.14.0
pyHanko==0.17.0
pyhanko-certvalidator==0.20.0
PyMySQL==1.0.2
pyparsing==3.0.9
pypdf==3.4.0
pypng==0.20220715.0
PyQRCode==1.2.1
PySocks==1.7.1
python-bidi==0.4.2
python-dateutil==2.8.2
python-telegram-bot==13.14
pytz==2020.4
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
qrcode==7.4.1
regex==2022.10.31
reportlab==3.6.12
requests==2.28.1
requests-toolbelt==0.10.1
rich==13.3.1
Rx==1.6.1
selenium==4.6.0
semantic-version==2.10.0
setuptools-rust==1.5.2
singledispatch==3.4.0.3
six==1.15.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.0.1
sqlparse==0.4.1
static3==0.7.0
svglib==1.5.1
text-unidecode==1.3
tinycss2==1.2.1
tomli==2.0.1
tornado==6.1
tqdm==4.64.1
trio==0.22.0
trio-websocket==0.9.2
typing_extensions==4.4.0
tzdata==2022.6
tzlocal==4.2
Unidecode==1.1.1
uritools==4.0.1
urllib3==1.26.13
virtualenv==20.17.1
webdriverdownloader==1.1.0.3
webencodings==0.5.1
Werkzeug==2.2.2
whitenoise==6.2.0
wsproto==1.2.0
xhtml2pdf==0.2.9
